<section class="sidebar">
   <ul class="sidebar-menu">
      <li class="active">
         <a href="/">
         <i class="fa fa-dashboard"></i> <span>Terminal</span>
         </a>
      </li>
   </ul>
</section>
